body {
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./image/bg.jpg"); */
}

.procent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
  margin-block: 1vh 0;
  margin-inline: 1vw 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  background-color: blanchedalmond;
}

.buttons {
  background-color: beige;
}

.info {
  background-color: aquamarine;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: azure;
}

.footer {
  background-color: antiquewhite;
}

.box {
  /* margin: 3px; */
  background-color: yellow;
}
