body {
  margin: 0;
  font-family: "Courier", "Menlo", "Consolas";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my {
  margin: 0;
}
