body {
  margin: 0;
  font-family: Acme, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1.4em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./image/bg.jpg"); */
}

.procent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
  margin-block: 1vh 0;
  margin-inline: 1vw 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  background-color: beige;
}

.info {
  /* background-color: aquamarine; */
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.word {
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: azure;
}

.footer {
  /* background-color: antiquewhite; */
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: 0.8em;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer span {
  padding: 0 5px;
}

.box {
  /* margin: 3px; */
  background-color: yellow;
}

.box > img {
  width: 100%;
}

.welcome {
  display: inline-block;
}

/* breakpoints */
@media screen and (max-width: 530px), (max-height: 400px) {
  body {
    font-size: 0.9em;
  }
}
